@import "m_cardStyle.css";

*::-webkit-scrollbar{
    display: none;
}

body{
    overflow-x: hidden;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageWrapper {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 25px;
}

/*------------CATEGORY NAME (top)----------*/
.categoryName {display: none;}
.categoryName h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: -0.04em;
    line-height: 1;
    text-align:start;
    color: rgb(18, 18, 18);
    
} 

/*------------ CATEGORY LIST (left side) ----------------*/

#categoryWrapper {
    /*background-color: violet;*/
    width: 100%;
    height: fit-content;
}



#categoryList {
    /*background-color: rgb(224, 113, 142);*/
    display: flex;
    justify-content: end;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

ul{
    list-style-type: none;
    font-family: Tahoma, Verdana, sans-serif;
    font-weight:700;
    font-size: 0.875rem;
    line-height: 2.25rem;
    margin-right: 40px;
    color: #0066ff;
    width: 90%;
}

ul p{
    display: none;
}

li{
    text-align: center;
    border: solid #ddd;
    border-radius: 10px;
    background-color: #191919;
    color: #ddd;
}

li > a {
    color: #ddd;
    text-decoration: none;
}
li > a:hover {
    text-decoration: underline;
}

/*------------ PRODUCTS (right side) ----------------*/
    /*------------HEADER---------------*/
#nbArticles { color: #b3b9e8;}

#productsHeader {
    display: grid;
    margin-bottom: 0.5em;
    width: 21rem;
    justify-items: center;
}   

.headerParagraphs{
    font-size: large;
    color: rgb(175, 176, 177);
    font-family: 'Open Sans', sans-serif;
}
.headerParagraphs a{
    font-family: 'Open Sans', sans-serif;
}

/* Button style originaly from uiverse.io */
    .sortButton {
    display: none;
}
    /*------------LIST---------------*/
/*
#productsWrapper {
    background-color:blueviolet;
}
*/

#productsList {
    /*background-color:aquamarine;*/
    display: flex; /*automatically adapts (to different screen sizes*/
    flex-direction: column;
    flex-wrap: nowrap;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    align-items: center;
    height: fit-content;
}
/*product Item is in external css file*/