/*** RATING SYSTEM IMPORTED FROM codepen.io, made by jamesbarnett****/
@import url("http://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

/***** REST OF THE RATING WRAPPER ****/
.ratingWrapper {
    display: flex;
    position: relative;
}

.rating ~ span {
    align-self: center;
}

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.checked {
  color: orange;
  }