@import "../stars.css";
main{
    display: flex;
    justify-content: center;
    align-items: center;
}

main * {
    font-family: 'Open Sans', sans-serif;
}

.pageWrapper {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    width: 750px;
}

.bodyWrapper {
    display: grid;
    grid-template-columns: 40% 45%;
    justify-items: center;
}

/*--------PRODUCT INFOS----------*/
.infoWrapper{
    display: grid;      grid-template-columns: auto auto; grid-gap: 10%;
}

.infoWrapper div span {
    color: grey;
}
.infoWrapper div span + span {
    color: #000;
    margin-left: 1%;
}
.mouse{
    width: 12em;
}

/* add to cart button CSS by Stackbit found on getcssscan.com*/
.button-21 {
  align-items: center;
  appearance: none;
  background-color: #3EB2FD;
  background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd,sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s,background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}
.button-21:active,
.button-21:focus {
  outline: none;
}
.button-21:hover {
  background-position: -20px -20px;
}
.button-21:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}
/*------*/
.priceWrapper{
    display: flex;
}
.priceWrapper span+span {
    margin-left: auto;
    align-self: center;
}
